@mixin header_background_image_for($name) {
  .group-page-#{$name} {
    .featured-background {
      #featured {
        background: url(asset_path('pages/#{$name}/background.jpg')) no-repeat center 0;
      }
    }
  }

  .#{$name}-page {
    .featured-background {
      #featured {
        background: url(asset_path('pages/#{$name}/background.jpg')) no-repeat center 0;
      }
    }
  }
}
