<aside id="sidebar-first" class="sidebar" role="complementary">
  <div class="region region-sidebar-first">
    <section id="block-menu-menu-careers" class="block block-menu block-odd">
      <h2 class="block-title">About Us</h2>
      <div class="content">
        <ul class="menu clearfix">
          <li class="first leaf working at tikal"><a href="{{ '/careers#working-at-tikal' | to_baseurl }}" title="" class="active">Working at Tikal</a></li>
          <li class="leaf the tikal alternative"><a href="{{ '/careers#the-tikal-alternative' | to_baseurl }}" title="" class="active">The Tikal Alternative</a></li>
          <li class="leaf our values"><a href="{{ '/careers#our-values' | to_baseurl }}" title="" class="active">Our values</a></li>
          <li class="leaf hear what our staff says"><a href="{{ '/careers#hear-what-our-staff-says' | to_baseurl }}" title="" class="active">Hear what our staff says</a></li>
          <li class="last leaf active-trail current openings"><a href="{{ '/careers#current-openings' | to_baseurl }}" title="" class="active-trail active">Current Openings</a></li>
        </ul>
      </div>
    </section>
  </div>
</aside>
