<section id="the-tikal-alternative" class="the-tikal-alternative area">
  <div class="field field-name-field-the-tikal-alternative field-type-double-field field-label-above">
    <div class="field-label">The Tikal Alternative&nbsp;</div>
    <div class="field-items">
      <div class="field-item  field-item-1 even">
        <div class="container-inline">
          <div class="double-field-first">Hands­On&nbsp;</div>
          <div class="double-field-second">Working at Tikal means a career at the forefront of technology. Gaining hands-on experience, on different levels and platforms and staying close to the most updated technologies out there.</div>
        </div>
      </div>
      <div class="field-item  field-item-2 odd">
        <div class="container-inline">
          <div class="double-field-first">Enrichment&nbsp;</div>
          <div class="double-field-second">We see Tikal as an incubator for software developers to grow. Our professional workshops and company events are valuable asset in keeping our staff at their best.</div>
        </div>
      </div>
      <div class="field-item  field-item-3 even">
        <div class="container-inline">
          <div class="double-field-first">Roadmap&nbsp;</div>
          <div class="double-field-second">We personalize a career that fits your needs.&nbsp;
            After discussing your aspirations and interests,&nbsp;
            we will build together your personal roadmap.</div>
        </div>
      </div>
    </div>
  </div>
</section>
