<section id="working-at-tikal" class="working-at-tikal area">
  <div class="field field-name-field-working-at-tikal field-type-double-field field-label-above">
    <div class="field-label">Working at Tikal&nbsp;</div>
    <div class="field-items">
      <div class="field-item  field-item-1 even">
        <div class="container-inline">
          <div class="double-field-first">Be a Software Craftsman&nbsp;</div>
          <div class="double-field-second">So you realized you want to stay close to the code - that you want to be an expert software developer. At Tikal you will find a familiar breed of enthusiastic software developers, senior developers and architects. We invite you to be apart of a professional team that enables developers to advance their career and constantly grow.</div>
        </div>
      </div>
      <div class="field-item  field-item-2 odd">
        <div class="container-inline">
          <div class="double-field-first">Get Community Power&nbsp;</div>
          <div class="double-field-second">At Tikal you don’t just stay close to the code, you also gain tremendous confidence from the support of an elite community of developers. We know from experience how important it is to have access to support or advice when you need it, but most importantly, a strong community basicly means - solving a problem faster.</div>
        </div>
      </div>
      <div class="field-item  field-item-3 even">
        <div class="container-inline">
          <div class="double-field-first">Do What You Love&nbsp;</div>
          <div class="double-field-second">The opportunity is now. Invest your time in what you really love and want to do. We empower our staff by encouraging to follow their ambitions, because we believe that’s when true talent come out.  </div>
        </div>
      </div>
      <div class="field-item  field-item-4 odd">
        <div class="container-inline">
          <div class="double-field-first">Keep Yourself Challenged&nbsp;</div>
          <div class="double-field-second">Working at Tikal keeps you constantly challenged. Projects are extremely diverse, and innovation happens on a regular basis. We enjoy the hi speed dynamics of the software industry, and we love the fact that we can be apart of it.</div>
        </div>
      </div>
    </div>
  </div>
</section>
