<div class="region region-content">
  <div id="block-system-main" class="block block-system block-even">
    <div class="content">
      <div class="view view-article view-id-article view-display-id-articles_view">
        <div class="view-content">
          <div class="view-content-limit">
            {% assign posts = (site.posts | filter_group_posts) %}
            {% for post in posts %}
              <div class="views-row">
                <div class="views-field views-field-title">
                  <span class="field-content"><a href="{{url_root}}/{{post.permalink}}">{{ post.title }}</a></span>  
                </div>
                <div class="views-field views-field-uid">    
                  <span class="views-label views-label-uid">by</span>
                  <span class="field-content"><a href="#">{{ post.author }}</a></span>  
                </div>
                <div class="views-field views-field-nothing">
                  <span class="views-label views-label-nothing">tags: </span>    
                  <span class="field-content">
                    <div class="tags">
                      {% for tag in post.tags %}
                        <a href="/{{ tag | downcase }}" class="active">{{ tag }}</a>
                      {% endfor %}
                    </div>
                  </span>
                </div>
                <div class="views-field views-field-body">
                  <div class="field-content">
                    <p>
                      {{ post.content | strip_html | truncatewords:50 }}
                    </p>
                  </div>
                </div>
                <div class="views-field views-field-view-node">
                  <span class="field-content"><a href="{{ url_root }}/{{ post.permalink }}">Read More »</a></span>  
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
