<header id="header" role="banner">
  <div class="logo-and-region-header">
    <div class="background-logo"></div>
    <a href="{{ "/" | to_baseurl }}" title="Home" rel="home" id="logo">
      <img src="{% asset_path logo.png %}" alt="Home">
    </a>


    <div class="region region-header">
      <section id="block-menu-menu-header-menu" class="block block-menu block-even">
        <h2 class="block-title element-invisible">Header menu</h2>

        <div class="content">
          <ul class="menu clearfix">
            {% for nav_link in site.nav_links %}
              {% assign name = (nav_link | replace: '/', '') %}
              <li class="leaf"><a href="{{ nav_link | to_baseurl }}" class="{% if page.name == name %} active {% endif %}">{{ name | capitalize }}</a></li>
            {% endfor %}
        </ul>  </div><!-- /.content -->
      </section><!-- /.block -->
      <section id="block-menu-menu-domains" class="block block-menu block-odd">
        <h2 class="block-title element-invisible">Domains</h2>

        <div class="content">
          <ul class="menu clearfix"><li class="first leaf alm"><a href="{{ '/alm' | to_baseurl }}" title="">ALM</a></li>
            <li class="leaf java"><a href="{{ '/java' | to_baseurl }}" title="">JAVA</a></li>
            <li class="leaf js"><a href="{{ '/js' | to_baseurl }}" title="">JS</a></li>
            <li class="leaf .net"><a href="{{ '/net' | to_baseurl }}" title="">.NET</a></li>
            <li class="last leaf ror"><a href="{{ '/ror' | to_baseurl }}" title="">RoR</a></li>
        </ul>  </div><!-- /.content -->
      </section><!-- /.block -->
    </div>
  </div><!-- /#logo-and-region-header -->
</header>
