<div class="featured-background">
  <div id="featured">
    <div class="region-title-and-featured">
      <div class="section_title">
        {{ page.header_title }}
      </div>
      <div class="section_subtitle">
        <div class="field field-name-field-sub-title field-type-text field-label-hidden">
          <div class="field-items">
            <div class="field-item  field-item-1 even">
              {{page.header_subtitle}}
            </div>
          </div>
        </div>
      </div>
    </div><!-- /#region-title-and-featured -->
  </div><!-- /#featured -->
</div>
