<div class="view view-author view-id-author view-display-id-block">
  <div class="view-content">
    <div class="view-content-limit">
      <div class="view-content-limit-content">
        <div class="views-row">
          <div class="views-field views-field-picture">
            <div class="field-content">
              {% if page.user.image_path %}
                <img typeof="foaf:Image" src="{{ page.user.image_path | asset_path }}" width="307" height="230" alt="">
              {% else %}
                <img src="{% asset_path pictures/profile-default.jpg %}" width="307" height="230" alt="">
              {% endif %}
            </div>  
          </div>
          <div class="views-field views-field-field-first-name">
            <div class="field-content">{{ page.user.first_name }}</div>
          </div>
          <div class="views-field views-field-field-last-name">
            <div class="field-content">{{ page.user.last_name }}</div>
          </div>
          <div class="views-field views-field-field-description">
            <div class="field-content">{{ page.user.description }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
