<footer id="footer-second" role="contentinfo">
  <div class="region region-footer-second">
    <section id="block-views-popular-articles-block" class="block block-views block-even">
      <h2 class="block-title">Popular Articles</h2>

      <div class="content">
        <div class="view view-popular-articles view-id-popular_articles view-display-id-block view-dom-id-796319b1b70c397287cdccd16eebbb82">

          <div class="view-content">
            <div class="view-content-limit">
              <div class="view-content-limit-content">
                <div class="views-row views-row-1 views-row-odd views-row-first">

                  <div class="views-field views-field-title">        <span class="field-content"><a href="/java/location-auto-complete-and-lookup">Location Auto complete and lookup</a></span>  </div>  </div>
                <div class="views-row views-row-2 views-row-even">

                  <div class="views-field views-field-title">        <span class="field-content"><a href="/js/present-and-future-typescript">Present and future of TypeScript</a></span>  </div>  </div>
                <div class="views-row views-row-3 views-row-odd views-row-last">

                  <div class="views-field views-field-title">        <span class="field-content"><a href="/ror/building-gogobot-social-graph">building the gogobot social graph</a></span>  </div>  </div>
              </div>
            </div>
          </div>

      </div>  </div><!-- /.content -->
    </section><!-- /.block -->
    <section id="block-menu-menu-fields" class="block block-menu block-odd">
      <h2 class="block-title">Domains</h2>

      <div class="content">
        <ul class="menu clearfix"><li class="first leaf application lifecycle management"><a href="/alm" title="">Application Lifecycle Management</a></li>
          <li class="leaf java"><a href="/java" title="">Java</a></li>
          <li class="leaf javascript"><a href="/js" title="">JavaScript</a></li>
          <li class="leaf .net"><a href="/net" title="">.NET</a></li>
          <li class="last leaf ruby on rails"><a href="/ror" title="">Ruby on Rails</a></li>
      </ul>  </div><!-- /.content -->
    </section><!-- /.block -->
    <section id="block-menu-menu-site-map" class="block block-menu block-even">
      <h2 class="block-title">Site Map</h2>

      <div class="content">
        <ul class="menu clearfix"><li class="first leaf about us"><a href="/about" title="">About Us</a></li>
          <li class="leaf active-trail solutions"><a href="/solutions" title="" class="active-trail active">Solutions</a></li>
          <li class="leaf careers"><a href="/careers" title="">Careers</a></li>
          <li class="last leaf contact"><a href="/contact" title="">Contact</a></li>
      </ul>  </div><!-- /.content -->
    </section><!-- /.block -->
    <div id="block-block-1" class="block block-block all-rights-reserved block-odd">

      <div class="content">
        <p>© 2013 All Rights Reserved. Tikal</p>
      </div><!-- /.content -->
    </div><!-- /.block -->
    <div id="block-menu-menu-external-links" class="block block-menu block-even">

      <div class="content">
        <ul class="menu clearfix"><li class="first leaf facebook"><a href="http://www.facebook.com/TikalKnowledge" title="" target="_blank">Facebook</a></li>
          <li class="leaf twitter"><a href="https://twitter.com/TikalK" title="" target="_blank">Twitter</a></li>
          <li class="leaf in"><a href="http://www.linkedin.com/company/tikal-knowledge" title="" target="_blank">in</a></li>
          <li class="last leaf rss"><a href="/rss-latest-articles" title="Latest Articles">RSS</a></li>
      </ul>  </div><!-- /.content -->
    </div><!-- /.block -->
  </div>
</footer>
