<section id="consultancy" class="consultancy area">
  <div class="field field-name-field-consultancy-header field-type-text-long field-label-above">
    <div class="field-label">Consultancy</div>
    <div class="field-items">
      <div class="field-item field-item-1 even">
        <p>On-Site services delivered by open-source leading experts.</p>
        <p>Our leading experts can help any development team get the job done fast and efficiently.</p>
      </div>
    </div>
  </div>

  <div class="field field-name-field-our-consultancy-fields field-type-double-field field-label-above">
    <div class="field-label">We provide consultancy services in the following fields:</div>
    <div class="field-items">
      <div class="field-item field-item-1 even">
        <div class="container-inline">
          <div class="double-field-first">Architectural Design</div>
          <div class="double-field-second">construction and management. From conception to completion</div>
        </div>
      </div>
      <div class="field-item  field-item-2 odd">
        <div class="container-inline">
          <div class="double-field-first">Technology Vetting&nbsp;</div>
          <div class="double-field-second">Background checking and technical validation of prospective workforce and projects</div>
        </div>
      </div>
      <div class="field-item  field-item-3 even">
        <div class="container-inline">
          <div class="double-field-first">POC</div>
          <div class="double-field-second">Validate technology concepts in your real environment</div>
        </div>
      </div>
      <div class="field-item  field-item-4 odd">
        <div class="container-inline">
          <div class="double-field-first">Optimization&nbsp;</div>
          <div class="double-field-second">Hands-on optimization and benchmarking</div>
        </div>
      </div>
      <div class="field-item  field-item-5 even">
        <div class="container-inline">
          <div class="double-field-first">Technology Leaders&nbsp;</div>
          <div class="double-field-second">Expanding your team with technology leaders</div>
        </div>
      </div>
      <div class="field-item field-item-6 odd">
        <div class="container-inline">
          <div class="double-field-first">Service Bundles&nbsp;</div>
          <div class="double-field-second">Customized expert service bundles</div>
        </div>
      </div>
    </div>
  </div>

  <div class="field field-name-field-consultancy-fooret field-type-text-long field-label-hidden">
    <div class="field-items">
      <div class="field-item  field-item-1 even">
        <p>Tikal experts are backed by a community of professional experts, covering a vast array of open-source technologies, software and tools.<br>
        Let us know what you are trying to achieve and we will customize a plan to meet the needs of your organization.</p>
      </div>
    </div>
  </div>


  <div class="field field-name-field-button field-type-link-field field-label-hidden">
    <div class="field-items">
      <div class="field-item  field-item-1 even"><a href="{{ '/contact' | to_baseurl }}" target="_blank">Contact us now</a></div>
    </div>
  </div>

</section>
