<section id="offerings" class="offerings area">
  <section id="block-views-offering-solutions-page" class="block block-views carousel-vertical block-even">
    <h2 class="block-title">Offering</h2>
    <div class="content">
      <div class="view view-offering view-id-offering view-display-id-solutions_page">
        <div class="view-header">
          From leading support to hands-on consultancy services, 
          our offerings stem from years of development experience.
        </div>
        {% include shared/offerings_carousel.html %}
      </div>
    </div>
  </section>
</section>
