<section id="support" class="support area">

  <div class="field field-name-field-support-header field-type-text-long field-label-above">
    <div class="field-label">Support&nbsp;</div>
    <div class="field-items">
      <div class="field-item field-item-1 even">
        <p>
          services are aimed assisting R&amp;D organizations who use open-source software tools and are required to maintain product operation and viability. Working with us eliminates the risk of running into a crisis without a qualified person around to solve the problem.
        </p>
      </div>
    </div>
  </div>


  <div class="field field-name-field-our-support-services field-type-double-field field-label-above">
    <div class="field-label">Our support services cover various open source modules, library stacks and frameworks:&nbsp;</div>
    <div class="field-items">
      <div class="field-item field-item-1 even">
        <div class="container-inline">
          <div class="double-field-first">Hour Bank Packages&nbsp;</div>
          <div class="double-field-second">Tailored services to meet client needs</div>
        </div>
      </div>
      <div class="field-item field-item-2 odd">
        <div class="container-inline">
          <div class="double-field-first">Tikal ALM 2.0&nbsp;</div>
          <div class="double-field-second">Software suite - based on subscription</div>
        </div>
      </div>
      <div class="field-item field-item-3 even">
        <div class="container-inline">
          <div class="double-field-first">Support &amp; Upgrades&nbsp;</div>
          <div class="double-field-second">Development support for any major application</div>
        </div>
      </div>
    </div>
  </div>

  <div class="field field-name-field-suppor-upgrade field-type-text-long field-label-hidden">
    <div class="field-items">
      <div class="field-item field-item-1 even">We provide support and upgrade services, including business hours on demand assistance, for any major application error or fault. Our experts will respond to any call at any time, and  help you recover the application quickly and effectively.</div>
    </div>
  </div>


  <div class="field field-name-field-platform-logos field-type-image field-label-above">
    <div class="field-label">We provide our services for the following platforms:&nbsp;</div>
    <div class="field-items">
      <div class="field-item field-item-1 even">
        <img src="{% asset_path platforms/subversion.jpg %}" width="139" alt="">
      </div>
      <div class="field-item field-item-2 odd">
        <img src="{% asset_path platforms/nexus.jpg %}" width="139" alt="">
      </div>
      <div class="field-item field-item-3 even">
        <img src="{% asset_path platforms/jenkins.jpg %}" width="139" alt="">
      </div>
      <div class="field-item field-item-4 odd">
        <img src="{% asset_path platforms/github.jpg %}" width="74" alt="">
      </div>
    </div>
  </div>

</section>
