<section id="workshops" class="workshops area">
  <div class="field-label-workshops">Workshops</div>

  <div class="field field-name-field-workshops-picture field-type-image field-label-hidden">
    <div class="field-items">
      <div class="field-item  field-item-1 even">
        <img typeof="foaf:Image" src="http://tikalk.com/sites/default/files/styles/workshops/public/workshop-pic_2.png?itok=FINU48BI" width="645" height="224" alt="">
      </div>
    </div>
  </div>


  <div class="field field-name-field-workshops-header field-type-text-long field-label-hidden">
    <div class="field-items">
      <div class="field-item field-item-1 even">
        Tikal provides tailored made educational services, based on an organization’s specific needs and requirements. Our trainers have the ability to guide any development team through the most complex and challenging obstacles.
      </div>
    </div>
  </div>


  <div class="field field-name-field-we-provide field-type-double-field field-label-above">
    <div class="field-label">We Provide:&nbsp;</div>
    <div class="field-items">
      <div class="field-item  field-item-1 even">
        <div class="container-inline">
          <div class="double-field-first">Boot camps&nbsp;</div>
          <div class="double-field-second">Focused open-source technology boot camps</div>
        </div>
      </div>
      <div class="field-item  field-item-2 odd">
        <div class="container-inline">
          <div class="double-field-first">Workshops&nbsp;</div>
          <div class="double-field-second">Our workshops provide hands-on experience in real on-site production environments</div>
        </div>
      </div>
      <div class="field-item field-item-3 even">
        <div class="container-inline">
          <div class="double-field-first">Training&nbsp;</div>
          <div class="double-field-second">On going training and classes at Tikal’s facilities</div>
        </div>
      </div>
    </div>
  </div>

  <section id="block-menu-block-4" class="block block-menu-block our-technology-domains block-even">
    <h2 class="block-title">Our technology domains</h2>
    {% include shared/tech-domains.html %}
  </section>

  <div class="field field-name-field-link field-type-link-field field-label-hidden">
    <div class="field-items">
      <div class="field-item field-item-1 even"><a href="{{ '/events' | to_baseurl }}" target="_blank">Events</a></div>
    </div>
  </div>

</section>
