<section class="block block-webform quick-contact block-odd" id="block-webform-client-block-23">
  <h2 class="block-title">Quick Contact</h2>

  <div class="content">
    <form accept-charset="UTF-8" id="webform-client-form-23" method="post" action="/" enctype="multipart/form-data" class="webform-client-form"><div><div id="webform-component-sub-title" class="form-item webform-component webform-component-markup">
          <p>Let us get in touch with you.</p>

        </div>
        <div id="webform-component-your-name" class="form-item webform-component webform-component-textfield">
          <input type="text" class="form-text required" maxlength="20" size="60" value="" name="submitted[your_name]" id="edit-submitted-your-name" placeholder="Your Name">
        </div>
        <div id="webform-component-email-address" class="form-item webform-component webform-component-email">
          <input type="email" size="60" name="submitted[email_address]" id="edit-submitted-email-address" placeholder="Email Address" class="email form-text form-email required">
        </div>
        <div id="webform-component-phone-number-quick-contact" class="form-item webform-component webform-component-phone">
          <input type="text" class="form-text" maxlength="15" size="17" value="" name="submitted[phone_number_quick_contact]" id="edit-submitted-phone-number-quick-contact" placeholder="Phone Number (optional)">
        </div>
        <div id="webform-component-topic" class="form-item webform-component webform-component-textfield">
          <input type="text" class="form-text required" maxlength="128" size="60" value="" name="submitted[topic]" id="edit-submitted-topic" placeholder="Topic">
        </div>
        <input type="hidden" value="" name="details[sid]">
        <input type="hidden" value="1" name="details[page_num]">
        <input type="hidden" value="1" name="details[page_count]">
        <input type="hidden" value="0" name="details[finished]">
        <input type="hidden" value="form-0JGxhDsKybO7yWHrZwu7OlJRVeImWwTNk1o_1op1lnc" name="form_build_id">
        <input type="hidden" value="webform_client_form_23" name="form_id">
        <div id="edit-actions" class="form-actions form-wrapper"><input type="submit" class="form-submit" value="Send" name="op" id="edit-submit"></div></div></form>  </div><!-- /.content -->
</section>
