<h1 class="title" id="page-title">Who Are We?</h1>
<div class="region region-content">
  <div id="block-system-main" class="block block-system block-even">

    <div class="content">
      <article id="node-27" class="node node-page node-odd published with-comments node-full" about="/content/who-are-we" typeof="foaf:Document">

        <div class="content">
          <div class="field field-name-body field-type-text-with-summary field-label-hidden">
            <div class="field-items">
              <div class="field-item  field-item-1 even" property="content:encoded">
                <p>
                We are a global software company founded by experts in the open-source community. 
                Our open-source approach provides our clients with value added services, assuring rapid development and easy customization, 
                while eliminating the risk of being held captive by a specific vendor.
                </p>
              </div>
            </div>
          </div>

        </div><!-- /.content -->

        <footer>
        </footer>


      </article><!-- /.node -->
    </div><!-- /.content -->
  </div><!-- /.block -->
</div>
