<div class="field-item field-item-1 even">
  <div class="field-first">
    <div class="diagonal-right"></div>
    <div class="diagonal-left"></div>
    <div class="double-field-first">Lock-in Free</div>
  </div>
  <div class="double-field-second">Tikal's open-source approach breaks
    away from the conventional model, by supplying open and flexible
    solutions that lower costumer expenses. By using open-source
    tools, with open protocols and standards, we eliminate our
    clients risk of getting locked-in to a specific software vendor.
    We believe in your right to choose who and what you work
    with.
  </div>
</div>
<div class="field-item field-item-2 odd">
  <div class="field-first">
    <div class="diagonal-right"></div>
    <div class="diagonal-left"></div>
    <div class="double-field-first">Innovation &amp; Drive</div>
  </div>
  <div class="double-field-second">Our hands-on
    expertise stems from years of development experience.
    We don’t see ourselves as theoretical advisers, we put our
    experience into practice. We do this by constantly updating our
    knowledge base, by continuously learning about new developments,
    and by striving to always be at the forefront of new and
    emerging technologies.
  </div>
</div>
<div class="field-item field-item-3 even">
  <div class="field-first">
    <div class="diagonal-right"></div>
    <div class="diagonal-left"></div>
    <div class="double-field-first">Results Oriented</div>
  </div>
  <div class="double-field-second">Our work environment is focused on
    delivering results. We work hard to keep this a recurring theme
    of the organization, but we also believe that 
    personal relationships, openness, transparency and freedom are
    the basis of any working relationship.A company can only be as
    good as it’s people.
  </div>
</div>
