<div class="field field-name-field-workshops-header field-type-text-long field-label-above">
  <div class="field-label">Community&nbsp;</div>
  <div class="field-items">
    <div class="field-item  field-item-1 even">
      <p dir="ltr">We create communities that spread
      knowledge and connect between industry
      professionals</p>
      <p dir="ltr">Tikal Community is exactly what
      software developers need, a place to
      &nbsp;share tips, tools and ideas, and a true
      treasure source for up-to-date &nbsp;software
      development knowledge.</p>
      <p dir="ltr">We invite software developers
      around the world to join our professional
      communities, a place for exchanging knowledge
      and new ideas.</p>
    </div>
  </div>
</div>
<div class="field field-name-field-workshops-picture field-type-image field-label-hidden">
  <div class="field-items">
    <div class="field-item field-item-1 even">
      <img typeof="foaf:Image"
        src="http://tikalk.com/sites/default/files/styles/workshops/public/workshop-pic.png?itok=JnbtQnIr"
        width="645" height="224" alt="">
    </div>
  </div>
</div>
