<div class="field field-name-field-enterprise-software field-type-double-field field-label-above">
  <div class="field-label">Enterprise Software&nbsp;</div>
  <div class="field-items">
    <div class="field-item  field-item-1 even">
      <div class="container-inline">
        <div class="double-field-first">1999&nbsp;</div>
        <div class="double-field-second">
          Tikal Knowledge was founded by Lior Kanfi as a
          startup in the knowledge management
          domain.
        </div>
      </div>
    </div>
    <div class="field-item field-item-2 odd">
      <div class="container-inline">
        <div class="double-field-first">2002&nbsp;</div>
        <div class="double-field-second">
          Tikal expanded its services and
          expertise by forming the Tikal
          Java Group and the Tikal ALM
          Group.
        </div>
      </div>
     </div>
  </div>
</div>
