<div class="field field-name-field-our-culture field-type-text-long field-label-above">
  <div class="field-label">Our Culture&nbsp;</div>
  <div class="field-items">
    <div class="field-item  field-item-1 even">
      <p dir="ltr">
        <b>Our open-source approach means<br>
          lower expenses, increased flexibility, and freedom of
          vendor lock-in.</b>
      </p>
    </div>
  </div>
</div>
<div id="core-values" class="fields-in-our-core-values">
  {% include shared/our_values.html %}
</div>
