<div class="field field-name-field-our-history field-type-text-long field-label-above">
  <div class="field-label">Our History&nbsp;</div>
  <div class="field-items">
    <div class="field-item  field-item-1 even">
      <p dir="ltr">
        <b id="internal-source-marker_0.8746955450624228">
          A leading solution provider for open-source technologies
        </b>
      </p>
      <p>technologiesWe decided to make a long term
      commitment to constantly perfect our services.
      We do this by supplying our clients with true
      software experts that are leaders in their
      field. This allows us to deliver the finest
      maintenance support available in the
      industry.</p>
    </div>
  </div>
</div>
