<aside id="sidebar-first" class="sidebar" role="complementary">
  <div class="region region-sidebar-first">
    <section id="block-menu-menu-about-page" class="block block-menu block-odd">
      <h2 class="block-title">About Us</h2>
      <div class="content">
        <ul class="menu clearfix">
          <li class="first leaf who are we?">
            <a href="#who-are-we" title="">Who Are We?</a>
          </li>
          <li class="leaf our history">
            <a href="#our-history" title="" class="active">Our History</a>
          </li>
          <li class="leaf our core values">
            <a href="#our-core-values" title="" class="active">Our Core Values</a>
          </li>
          <li class="leaf our experts">
            <a href="#our-experts" title="" class="active">Our Experts</a>
          </li>
          <li class="last leaf active-trail community">
            <a href="#community" title="" class="active-trail active">Community</a>
          </li>
        </ul>
      </div>
    </section>

    <section id="block-block-8" class="block block-block tikal-by-numbers block-even">
      <h2 class="block-title">Tikal by Numbers</h2>
      <div class="content">
        <ul>
          <li id="events">
            <div class="box">
              <div class="number"> 150+</div>
              <div class="label"> Events</div>
            </div> 
          </li>
          <li id="employees">
            <div class="box">
              <div class="number"> 90+</div>
              <div class="label"> Employees</div>
            </div>
          </li>
          <li id="projects-in">
            <div class="box">
              <div class="number"> 250+</div>
              <div class="label"> Projects</div>
            </div>
          </li>
          <li id="projects-on-github">
            <div class="box">
              <div class="number"> 100+</div>
              <div class="label"> Repositories on GitHub</div>
            </div>
          </li>
        </ul>
      </div>
    </section>
  </div>
</aside>
