<div class="field field-name-field-web-development field-type-double-field field-label-above">
  <div class="field-label">Web Development&nbsp;</div>
  <div class="field-items">
    <div class="field-item  field-item-1 even">
      <div class="container-inline">
        <div class="double-field-first">2008&nbsp;</div>
        <div class="double-field-second">
          Following the emergence of web applications, we
          identified a growing need for Flex
          experts. This resulted in  the formation
          of our third group, the Tikal Flex Group.
        </div>
      </div>
    </div>
    <div class="field-item field-item-2 odd">
      <div class="container-inline">
        <div class="double-field-first">2009&nbsp;</div>
        <div class="double-field-second">
          With the global rise in Python
          development, we established the
          Tikal Python Group, extending
          our abilities to provide web UI
          solutions.
        </div>
      </div>
    </div>
    <div class="field-item field-item-3 even">
      <div class="container-inline">
        <div class="double-field-first">2010&nbsp;</div>
        <div class="double-field-second">
          Tikal penetrated the traditional .NET
          market by acquiring XLNet. This
          established our strong group of .NET experts,
          allowing us to deliver competitive services
          in more platforms.
        </div>
      </div>
    </div>
    <div class="field-item field-item-4 odd">
      <div class="container-inline">
        <div class="double-field-first">2012&nbsp;</div>
        <div class="double-field-second">
          As a result of the global
          rise in Ruby on Rails
          development, we formed
          our latest group, the
          Tikal RoR Group,
          containing great
          potential for many
          future
          businesses.
        </div>
      </div>
    </div>
  </div>
</div>
