<div class="field field-name-field-who-are-we field-type-text-long field-label-inline clearfix">
  <div class="field-label">Who we are</div>
    <div class="field-items">
      <div class="field-item field-item-1 even">
        <p dir="ltr">
          Tikal is a global
          software company founded in 1999 by
          experts in the open-source
          community. For over 12 years, we
          have helped breakthrough companies
          achieve excellence. We have earned
          worldwide recognition for delivering
          extremely competitive and
          high-performance software
          services.
        </p>
        <p dir="ltr">Our open-source
          approach provides our clients with
          value added services, assuring rapid
          development and easy customization,
          while eliminating the risk of being
          held captive by a specific
          vendor.
        </p>
    </div>
  </div>

  <section id="block-views-clients-our-cients" class="block block-views block-even">
    <h2 class="block-title">Our Clients</h2>
    <div class="view view-clients view-id-clients view-display-id-our_cients">
      <div class="view-content">
        {% for client in page.our_clients %}
          <div class="views-row">
            <div class="views-field views-field-field-logo">
              <div class="field-content">
                <a href={{ '/solutions/#testimonies' | to_baseurl }}"><img typeof="foaf:Image" src="{{ client | client_image_path }}" width="115" alt=""></a>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>

  <section id="block-menu-block-3" class="block block-menu-block our-expertese block-odd">
    <h2 class="block-title">Our Expertese</h2>
    {% include shared/tech-domains.html %}
  </section>
</div>
