---
layout: default
name: solutions
title: Solutions | Tikal
header_title: Solutions
header_subtitle: Consultancy, Workshops and Support. Delivered by leading experts and customized to meet the needs of your organization.
client_testimonies:
  - WebCollage
  - Hellaruim
  - Harmon.ie
---
<div id="main">
  <article id="node-52" class="node node-solutions">
    {% include pages/solutions/consultancy.html %}
    {% include pages/solutions/workshops.html %}
    {% include pages/solutions/support.html %}
    {% include pages/solutions/what-our-customers-say.html %}
    {% include pages/solutions/offerings.html %}
  </article>
</div>
{% include pages/solutions/sidebar.html %}
