<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/fonts.css">
        <link rel="stylesheet" href="/css/basic.css">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/overrides.css">

    </head>

    <body>
        {% include header.html %}
        {% include navigation.html %}
        {% include page_title.html %}
        <div class="shadow-page"></div>
        <div id="page">
          <div id="main">
            {{ content }}
          </div>
        </div>
        {% include first_footer.html %}
        {% include second_footer.html %}
    </body>
</html>
