<!DOCTYPE html>
<html>
    <head>
      {% include head.html %}
    </head>

    <body class="section-{{ page.url | find_section }} one-sidebar sidebar-second page-user all-pages section-profile with-navigation with-subnav dir-ltr">
      {% include header.html %}
      {% include navigation.html %}
      {% include user_title.html %}
      <div class="shadow-page"></div>
      <div id="page">
        <div id="main">
          {% include user_content.html %}
        </div>
        <aside id="sidebar-second" class="sidebar" role="complementary">
          {% include user_pic.html %}
          {% assign follow_me_size = (page.user_follow_me_urls | size) %}
          {% if follow_me_size > 0 %}
            {% include user_follow_me.html %}
          {% endif %}
        </aside>
      </div>
      {% include first_footer.html %}
      {% include second_footer.html %}
    </body>
</html>
