---
layout: default
name: careers
title: Careers | Tikal
staff_testimonies:
  - Oren Farhi
  - Roni Licht
  - Michael Hantler
---
<div id="main">
  <article id="node-30" class="node node-careers">
    {% include pages/careers/working-at-tikal.html %}
    {% include pages/careers/the-tikal-alternative.html %}
    <section id="our-values" class="our-values area">
      <div class="field-label-our-values">Our Values</div>
      <div class="field_our_values" id="core-values">
        {% include shared/our_values.html %}
      </div>
    </section>
    {% include pages/careers/hear-what-our-staff-says.html %}
    {% include pages/careers/current-openings.html %}
  </article>
</div>
{% include pages/careers/sidebar.html %}
